body {
	background-image: url(../slike/mcozadjek.jpg);
	background-size: cover;
background-repeat: no-repeat;




}
p {
	background-color: black;
	color: white;




}
br
{background-color: none;



}
h1 {



	text-decoration: none;
}