p{
	font-size: 150%;
	font-family: 'Indie Flower', cursive;
}

#Title{
	font-size: 300%;
	
	margin-left: auto;
	margin-right: auto;
}
span{
	border: 2px double;
	background-color: #99ccff;
}