h1{

	text-align: center;
	color: crimson;}

span{
	border-image: url("https://static.wikia.nocookie.net/marvelcinematicuniverse/images/a/a0/Iron_Man_Armor_-_Mark_L.png/revision/latest?cb=20180318221316");
	border: 5px dashed;
	border-collapse: collapse;
	padding: 10px 20px;}