ul{

	list-style-type: none;
	margin:0;
	padding:0;
	overflow: hidden;
	background-color:#009933;
	font-weight: 1000;


}
li a{

	text-decoration: none;
	display: block;
	color: black;
	float: left;
	border: 1px solid;
	padding: 5px 10px;
	background color: #006600;


}
li a:hover{


	background-color:cyan;
}


