#uvod {

text-align: center;
color:black;
font-size: 300%;
font-family: cursive;

}

span{
border-collapse: collapse;
padding:15px 20px;
border-style: double;	
}

.besedilo{


	
}


